In [21]:
import pandas as pd
#gs_ft_sevm = pd.read_csv('ft_sevM_after_check.csv')
#gs_ft_db = pd.read_csv('ft_db_check.csv')

gs_ft_sevm_train = pd.read_csv('train_ft_sevM_check_after.csv', sep=";")
gs_ft_db_train = pd.read_csv('train_ft_db_check_after.csv', sep=";")

In [22]:
gs_ft_sevm_train

,ft_id,sevM_id,LevScore,ft,sevMil,label
0,ft_id_1587,7.1m_123,1.0,dxc technology,dxc technology,True
1,ft_id_812,7.1m_1506,1.0,united rentals,united rentals,True
2,ft_id_1767,7.1m_1132,1.0,newell brands,newell brands,True
3,ft_id_384,7.1m_1,1.0,tata consultancy services,tata consultancy services,True
4,ft_id_487,7.1m_1097,1.0,pernod ricard,pernod ricard,True
...,...,...,...,...,...,...
795,ft_id_1951,7.1m_405,0.0,yamada denki,bbc,False
796,ft_id_1073,7.1m_800,0.0,flex,urs corporation,False
797,ft_id_586,7.1m_1000,0.0,vivendi,ramboll,False
798,ft_id_743,7.1m_321,0.0,dsm,free lance,False
799,ft_id_929,7.1m_1029,0.0,vf,e.on,False

In [23]:
gs_ft_db_train

,ft_id,db_id,LevScore,ft,dbpedia,label
0,ft_id_959,dbpedia_6248,1.0,voya financial,voya financial,True
1,ft_id_298,dbpedia_1034,1.0,amerisourcebergen,amerisourcebergen,True
2,ft_id_676,dbpedia_1847,1.0,republic services,republic services,True
3,ft_id_1372,dbpedia_910,1.0,netapp,netapp,True
4,ft_id_42,dbpedia_3411,1.0,pfizer,pfizer,True
...,...,...,...,...,...,...
795,ft_id_484,dbpedia_4675,0.0,maybank,veeco,False
796,ft_id_780,dbpedia_1945,0.0,kla,perrigo,False
797,ft_id_258,dbpedia_1693,0.0,hp,allied telesis,False
798,ft_id_1934,dbpedia_6209,0.0,genmab,kworld,False
799,ft_id_1624,dbpedia_4634,0.0,k+s,redrow plc,False

In [10]:
gs_ft_sevm[['ft_id','sevM_id','label']].to_csv('gs_ft_sevm.csv', index=False)
gs_ft_db[['ft_id','db_id','label']].to_csv('gs_ft_db.csv', index=False)

In [24]:
gs_ft_sevm_train[['ft_id','sevM_id','label']].to_csv('gs_ft_sevm_train.csv', index=False)
gs_ft_db_train[['ft_id','db_id','label']].to_csv('gs_ft_db_train.csv', index=False)