In [22]:
import pandas as pd
#gs_ft_sevm = pd.read_csv('ft_sevM_after_check.csv')
#gs_ft_db = pd.read_csv('./check/ft_db_check.csv')
gs_db_sevm = pd.read_csv('./check/db_sevM_check.csv', sep=";")

#gs_ft_sevm_train = pd.read_csv('train_ft_sevM_check_after.csv', sep=";")
#gs_ft_db_train = pd.read_csv('train_ft_db_check_after.csv', sep=";")
gs_db_sevm_train = pd.read_csv('./check/train_db_sevm_after.csv', sep=";")

In [23]:
gs_db_sevm_train

,db_id,sevM_id,LevScore,db,sevMil,label
0,dbpedia_5248,7.1m_234,1.0,boehringer ingelheim,boehringer ingelheim,True
1,dbpedia_4098,7.1m_25,1.0,capgemini,capgemini,True
2,dbpedia_3630,7.1m_97,1.0,barclays,barclays,True
3,dbpedia_1,7.1m_1546,1.0,alten,alten,True
4,dbpedia_3107,7.1m_439,1.0,sony,sony,True
...,...,...,...,...,...,...
795,dbpedia_3631,7.1m_354,0.0,jeol,sabic,False
796,dbpedia_3481,7.1m_220,0.0,iwbank,edf,False
797,dbpedia_4706,7.1m_1536,0.0,cerner,ghd,False
798,dbpedia_6076,7.1m_45,0.0,amedei,ups,False
799,dbpedia_1150,7.1m_48,0.0,m7 group,nestlé,False

In [14]:
gs_db_sevm

,db_id,sevM_id,LevScore,db,sevMil,label
0,dbpedia_1017,7.1m_151,1.0,the coca-cola company,the coca-cola company,True
1,dbpedia_5227,7.1m_769,1.0,suncor energy,suncor energy,True
2,dbpedia_6200,7.1m_105,1.0,roche,roche,True
3,dbpedia_124,7.1m_114,1.0,halliburton,halliburton,True
4,dbpedia_2698,7.1m_1595,1.0,eastman chemical company,eastman chemical company,True
...,...,...,...,...,...,...
495,dbpedia_4029,7.1m_15,0.0,renewable energy group,citi,False
496,dbpedia_311,7.1m_1709,0.0,cemex,afpa,False
497,dbpedia_5203,7.1m_443,0.0,havertys,bd,False
498,dbpedia_135,7.1m_207,0.0,synopsys,vale,False
499,dbpedia_2871,7.1m_293,0.0,cnhi,epam systems,False

In [22]:
gs_ft_sevm_train

,ft_id,sevM_id,LevScore,ft,sevMil,label
0,ft_id_1587,7.1m_123,1.0,dxc technology,dxc technology,True
1,ft_id_812,7.1m_1506,1.0,united rentals,united rentals,True
2,ft_id_1767,7.1m_1132,1.0,newell brands,newell brands,True
3,ft_id_384,7.1m_1,1.0,tata consultancy services,tata consultancy services,True
4,ft_id_487,7.1m_1097,1.0,pernod ricard,pernod ricard,True
...,...,...,...,...,...,...
795,ft_id_1951,7.1m_405,0.0,yamada denki,bbc,False
796,ft_id_1073,7.1m_800,0.0,flex,urs corporation,False
797,ft_id_586,7.1m_1000,0.0,vivendi,ramboll,False
798,ft_id_743,7.1m_321,0.0,dsm,free lance,False
799,ft_id_929,7.1m_1029,0.0,vf,e.on,False

In [23]:
gs_ft_db_train

,ft_id,db_id,LevScore,ft,dbpedia,label
0,ft_id_959,dbpedia_6248,1.0,voya financial,voya financial,True
1,ft_id_298,dbpedia_1034,1.0,amerisourcebergen,amerisourcebergen,True
2,ft_id_676,dbpedia_1847,1.0,republic services,republic services,True
3,ft_id_1372,dbpedia_910,1.0,netapp,netapp,True
4,ft_id_42,dbpedia_3411,1.0,pfizer,pfizer,True
...,...,...,...,...,...,...
795,ft_id_484,dbpedia_4675,0.0,maybank,veeco,False
796,ft_id_780,dbpedia_1945,0.0,kla,perrigo,False
797,ft_id_258,dbpedia_1693,0.0,hp,allied telesis,False
798,ft_id_1934,dbpedia_6209,0.0,genmab,kworld,False
799,ft_id_1624,dbpedia_4634,0.0,k+s,redrow plc,False

In [10]:
gs_ft_sevm[['ft_id','sevM_id','label']].to_csv('gs_ft_sevm.csv', index=False)
gs_ft_db[['ft_id','db_id','label']].to_csv('gs_ft_db.csv', index=False)

In [15]:
gs_db_sevm[['db_id','sevM_id','label']].to_csv('gs_db_sevm.csv', index=False)

In [24]:
gs_ft_sevm_train[['ft_id','sevM_id','label']].to_csv('gs_ft_sevm_train.csv', index=False)
gs_ft_db_train[['ft_id','db_id','label']].to_csv('gs_ft_db_train.csv', index=False)

In [18]:
gs_db_sevm = pd.read_csv('gs_db_sevm.csv')
gs_db_sevm

            db_id    sevM_id  label
0    dbpedia_1017   7.1m_151   True
1    dbpedia_5227   7.1m_769   True
2    dbpedia_6200   7.1m_105   True
3     dbpedia_124   7.1m_114   True
4    dbpedia_2698  7.1m_1595   True
..            ...        ...    ...
495  dbpedia_4029    7.1m_15  False
496   dbpedia_311  7.1m_1709  False
497  dbpedia_5203   7.1m_443  False
498   dbpedia_135   7.1m_207  False
499  dbpedia_2871   7.1m_293  False

[500 rows x 3 columns]

In [24]:
gs_db_sevm_train[['db_id','sevM_id','label']].to_csv('gs_db_sevm_train.csv', index=False)